/* Master Styles */
h1 {
  color: #369; 
  font-family: 'Open Sans', sans-serif !important;  
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: font-family: 'Open Sans', sans-serif !important;   
  font-weight: lighter;
}

body, input[text], button { 
  font-family: 'Open Sans', sans-serif !important; 
}

/* 
 * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
 * for the full set of master styles used by the documentation samples
 */