header {
    height: 110px;

    background-color: #5c4a47;
    background-size: 100% !important;
}

.nav-trim {
    height: 5px;
    background-color: #d73224;
}

.nav {
    width: 100%;
    max-height: 100px;
    padding: 15px;
}



.nav .logo {
    float: left;

    max-width: 100%;
    height: 85px;
    margin-top: -8px;
}

.nav .nav-list {
    padding-top: 20px;
}

.nav ul {
    float: right;

    margin: 0;
    padding-left: 0px;

    list-style: none;
    list-style: none;

    text-align: center;

    *zoom: 1;
}

.nav ul:before,
.nav ul:after {
    display: table;

    content: '';
}
.nav ul:after {
    clear: both;
}

.nav a {
    line-height: 1.2em;

    display: block;

    padding: 10px 20px;

    color: #fffefe;
}

.nav ul > li {
    font-family: 'proxima-nova', sans-serif;
    font-size: 13px;
    font-weight: 600;

    position: relative;

    float: left;

    max-width: 250px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #fffefe;
}

.nav li ul {
    position: absolute;
    z-index: 1;
    top: 36px;
    left: 0;
}

/* Sub Menus */
.nav li ul li {
    font-size: 12px;

    display: inline-block;
    overflow: hidden;

    height: 0;

    list-style: none;

    -webkit-transition: height 200ms ease-in;
       -moz-transition: height 200ms ease-in;
         -o-transition: height 200ms ease-in;
            transition: height 200ms ease-in;
    text-align: left;
    white-space: nowrap;
    width: 250px;
    background-color: #d73224;
}

.nav ul > li:hover ul li {
    height: 36px;
}

.nav .btn-donate {
    border-radius: 300px;
    border: 2px solid #fffefe;
    margin-top: -5px;
}

.nav .btn-donate:hover {
    background-color: #d73224;
}

/**************************
* Footer
***************************/
footer .footer-container {
    position: absolute;

    display: block;

    width: 100%;

    color: #fffefe;
    background-color: #5c4a47;
}

footer .footer-nav {
    padding: 50px;

    text-align: center;
}

footer .footer-nav h4 {
    color: #d73224;
}

footer .footer-nav a {
    color: #fffefe;
}

footer .social {
    margin: 0;
    padding: 0;

    text-align: center;
}

footer .social ul {
    display: inline-table;

    margin: 0;
    padding: 5px;
}

footer .social ul li {
    display: inline;

    margin: 5px;

    list-style: none outside none;
}

footer .social i {
    font-size: 22px;

    width: 40px;
    height: 40px;
    padding-top: 12px;

    -webkit-transition: all ease .3s;
       -moz-transition: all ease .3s;
        -ms-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;
    text-align: center;

    color: #fffefe;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #d73224;

         -o-border-radius: 50%;
}

footer .social i:hover {
    -webkit-transition: all ease .3s;
       -moz-transition: all ease .3s;
        -ms-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;
    text-decoration: none;

    color: #fffefe;
}

.social .fa-facebook:hover {
    /* round facebook icon*/
    background: #4060a5;
}

.social .fa-twitter:hover {
    /* round twitter icon*/
    background: #00abe3;
}

.social .fa-linkedin:hover {
    /* round linkedin icon*/
    background: #0094bc;
}

footer .legal {
    font-size: 8px;

    float: right;

    max-width: 350px;
}
