.wide {
    width: 100%;
}

.btn-right {
    float: right;
}

.btn-collapse {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.collapse-text {
  margin-left: 20px;
}

form {
    margin-top: 50px;
}

textarea {
    padding-top: 5px;
    padding-left: 10px;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
}

ol {
  list-style: none;
}