<div class="content-container">
    <h1 class="red content-center">Start a Local TWLF Chapter</h1>
    <h3 class="content-center">Warriors in our Professions | Leaders in our Communities</h3>
    <img src="assets/img/logo.png" height="150" class="center">
    <p>The Warrior Leader Foundation Chapters and Communities are made up of its members and a leadership team as outlined below. We have also included some potential ideas to help you get started under the <a [routerLink]="['LocalChapters']" class="red-bold">Local Chapters</a> page.</p>
    <hr>
    <h1>Chapter Leadership Positions</h1>
    <ol>
        <li>
            <button class="btn-collapse" id="collapseChapterButton">
                <h3><i class="fa fa-caret-right" aria-hidden="true" id="collapseChapterIcon"></i> Chapter Leader </h3>
            </button>
            <div id="chapterLeaderCollapse" class="collapse-text">
                <p>Responsible for leading and steering the chapter as well as finances for the local chapter. We use the Square Card Readers to accept donations on the spot as they are very convenient to accept donations. Other responsibilities may include:</p>
                <ul>
                    <li>Create athletic, community, and social events</li>
                    <li>Coordinate events with other organizations</li>
                    <li>Manages donations and memberships</li>
                    <li>Look for local Ambassadors to bring on to your team. Ambassadors need to be current or past Military or First Responders who you feel embody what it means to be a Warrior Leader in your community. Ambassadors play a key role in spreading the word of our cause through posting to social media, participating in physical events such as Running Races, Crossfit Competitions, Lifting Competitions, Shooting Events, MMA/Boxing, Iron Mans, Marathons, Triathlons, GoRuck Challenges, Obstacle Course Races, etc. as they wear our gear and spread the word of who we are, who we support, and what we do.</li>
                    <li>Look to encourage events in your area to support Military and First Responders who may have fallen or was injured in your local area. Events to support and honor the lives of local Warrior Leaders and their families are the key to success for us as an organization. WE ARE A TEAM!!</li>
                </ul>
            </div>
        </li>
        <li>
            <button class="btn-collapse" id="collapseWarriorButton">
                <h3><i class="fa fa-caret-right" aria-hidden="true" id="collapseWarriorIcon"></i> Warrior Leader </h3>
            </button>
            <div id="warriorLeaderCollapse" class="collapse-text">
                <p>Grows military and first responder involvement (Active, Veterans, or Future) by reaching out to local:</p>
                <ul>
                    <li>National Guard/Reserves Units </li>
                    <li>Fire and Police Departments</li>
                    <li>Emergency Medical Services </li>
                    <li>College ROTC Programs </li>
                    <li>High School JROTC Programs,</li>
                    <li>Help answer questions for those looking to join the Armed Forces, Police Departments, Fire Departments, or Medical Field</li>
                </ul>
            </div>
        </li>
        <li>
            <button class="btn-collapse" id="collapseCommunityButton">
                <h3><i class="fa fa-caret-right" aria-hidden="true" id="collapseCommunityIcon"></i> Community Leader</h3>
            </button>
            <div id="communityLeaderCollapse" class="collapse-text">
                <p>Grows community involvement through organizing </p>
                <ul>
                    <li>Canned Food Drives</li>
                    <li>Clothing Drives</li>
                    <li>Toy Drives</li>
                    <li>Fun Shoots at local shooting ranges</li>
                    <li>Concealed carry classes </li>
                    <li>Self defense classes </li>
                    <li>Relay for Life Participation</li>
                    <li>Homeless Shelter/Elderly homes/Soup Kitchen Volunteering</li>
                    <li>Anything else that exhibits the Warrior Leader mentality</li>
                </ul>
            </div>
        </li>
        <li>
            <button class="btn-collapse" id="collapseAthleticButton">
                <h3><i class="fa fa-caret-right" aria-hidden="true" id="collapseAthleticIcon"></i> Athletic Leader</h3>
            </button>
            <div id="athleticLeaderCollapse" class="collapse-text">
                <p>Organizes and conducts physical activities such as:</p>
                <ul>
                    <li>Sports Activities (flag football, ultimate frisbee, charity golf events, etc) </li>
                    <li>Runs (5&10Ks), Kit Runs, and Ruck Marches </li>
                    <li>Crossfit Workouts </li>
                    <li>Local High School or College Sports Programs, and teams for other community sports leagues (Softball, Baseball, Soccer, Volleyball, etc.)</li>
                    <li>Find GoRuck Challenges, Spartan Races, Warrior Dashes, Tough Mudders, Triathlons, Marathons, Iron Mans, and Relays for Life for your TWLF Chapter to participate in</li>
                </ul>
            </div>
        </li>
        <li>
            <button class="btn-collapse" id="collapseOutdoorsButton">
                <h3><i class="fa fa-caret-right" aria-hidden="true" id="collapseOutdoorsIcon"></i> Outdoors Leader</h3>
            </button>
            <div id="outdoorsLeaderCollapse" class="collapse-text">
                <p>Responsible for planning and organizing outdoors events and activities such as:</p>
                <ul>
                    <li>Hunting, fishing, camping, hiking, etc. together. Outdoors activities are held very dearly for men and women of our armed forces and first responders. It is a common activity that both communities can bond through and provides opportunity to discuss past experiences.</li>
                    <li>Charity or Group Motorcycle Rides</li>
                    <li>Paintball, milsim and airsoft events. These sort of activities allow former military and LEOs the opportunity to work through PTSD and have fun doing it.</li>
                </ul>
            </div>
        </li>
        <li>
            <button class="btn-collapse" id="collapseSocialButton">
                <h3><i class="fa fa-caret-right" aria-hidden="true" id="collapseSocialIcon"></i> Social Leader</h3>
            </button>
            <div id="socialLeaderCollapse" class="collapse-text">
                <p>Coordinate Social Events to bring the community of leaders, members and volunteers together for updates on chapter progress and involvement.</p>
                <ul>
                    <li>BBQs</li>
                    <li>Movie Nights</li>
                    <li>Trips to Local Theme Parks</li>
                    <li>In charge of organizing and posting to Social Media outlets such as Facebook, Instagram and Twitter in order to show your participation, gain donations, and keep your supporters informed of your cause.</li>
                </ul>
            </div>
        </li>
    </ol>
    <p>Note: All leadership positions do not have to be filled for a Warrior Leader Foundation, Inc. chapter to begin, but we ask that you work towards building a complete leadership team in order to develop a strong chapter and community that involves as many people as possible.</p>
    <hr>
    <p>For acknowledgement as a Warrior Leader Foundation Chapter, the following requirements must be sustained:</p>
    <ul>
        <li>Must be responsive to members and welcome all new signups within 48 hours</li>
        <li>Establish a local TWLF Bank Account to manage donations and funding for events</li>
        <li>Link Bank Account created with a Square Card Reader to accept on-the-spot donations</li>
        <li>Maintain an active local Social Media presence</li>
        <li>Calendar of athletic/social events developed, posted, and communicated to membership.</li>
        <li>Manage local membership roster and donations (Members should pledge a $5 per month donation)</li>
        <li>Host consistent TWLF events (should grow in scope/size with the community)</li>
        <li>Maintain a calendar of events</li>
        <li>Athletic events held weekly or bi-weekly</li>
        <li>Team Social Events held at least quarterly</li>
        <li>Community Service Events held at least quarterly; strive for monthly</li>
        <li>Track activities and submit a monthly status report to thewarriorleaderfoundation@gmail.com via email</li>
        <li>Conduct active Military, First Responder and Community outreach within local area</li>
    </ul>
    <hr>
    <p>There are some small requirements that we ask of any person who would like to start the process of establishing a Warrior Leader Foundation Chapter in their location:</p>
    <ul>
        <li>Have no pending moves planned within the next 6 months.</li>
        <li>Be willing to commit 4-6 hours per week of personal time to our cause.</li>
        <li>Be willing and comfortable with managing a small budget to fund TWLF events.</li>
        <li>Most importantly, be comfortable being a <span class="red-bold">LEADER</span> – this is the single most crucial facet to starting a TWLF Chapter.</li>
    </ul>
    <hr>
    <h1>In Order to Apply</h1>
    <h3>Fill out the Tollowing Form and Submit</h3>
    <form (ngSubmit)="onSubmit()" #startChapterForm="ngForm">
        <div class="form-group row">
            <div class="col-md-8">
                <label for="name">Name</label>
                <div class="input-group wide">
                    <input class="form-control" type="text" name="name" placeholder="Name" required [(ngModel)]="model.name" ngControl="name" #name="ngForm">
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-8">
                <label for="email">Email</label>
                <div class="input-group wide">
                    <input class="form-control" type="text" name="email" placeholder="Email" required [(ngModel)]="model.email" ngControl="email" #email="ngForm" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    <div [hidden]="email.valid || email.pristine">
                        <div *ngIf="email.errors && email.errors.required" class="alert alert-danger">Email required</div>
                        <div *ngIf="email.errors && email.errors.pattern" class="alert alert-danger">Email invalid</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-8">
                <label for="location">Location for New Chapter</label>
                <div class="input-group wide">
                    <input class="form-control" type="text" name="location" placeholder="City, State" required [(ngModel)]="model.location" ngControl="location" #location="ngForm">
                    <div [hidden]="location.valid || location.pristine" class="alert alert-danger">Location required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-8">
                <label for="experience">Military/First Responder Experience</label>
                <div class="input-group wide">
                    <textarea class="input-group wide" name="experience" rows="10" required [(ngModel)]="model.experience" ngControl="experience" #experience="ngForm"></textarea>
                    <div [hidden]="experience.valid || experience.pristine" class="alert alert-danger">Experience required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-8">
                <label for="jobExperience">Other Job Experience</label>
                <div class="input-group wide">
                    <textarea class="input-group wide" name="jobExperience" rows="10" required [(ngModel)]="model.jobExperience" ngControl="jobExperience" #jobExperience="ngForm"></textarea>
                    <div [hidden]="jobExperience.valid || jobExperience.pristine" class="alert alert-danger">Job Experience required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-8">
                <label for="reason">Why do you want to start a TWLF Chapter?</label>
                <div class="input-group wide">
                    <textarea class="input-group wide" name="reason" rows="10" required [(ngModel)]="model.reason" ngControl="reason" #reason="ngForm"></textarea>
                    <div [hidden]="reason.valid || reason.pristine" class="alert alert-danger">Reason required</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-default btn-right" [disabled]="!startChapterForm.form.valid">Submit</button>
                <div id="result"></div>
            </div>
        </div>
    </form>
</div>
