body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

.nav .banner {
  background-image: url("/app/img/test-banner.jpg");
}

.nav {
    width: 100%;
    max-height: 100px;
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0, 0, 0, 0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0%, rgba(0, 0, 0, 0.00)), color-stop( 100%, rgba(0, 0, 0, 0.00)));
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
}

.nav img {
    height: 100px;
    float: left;
}

.nav ul {
    float: right;
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0;
}

.nav li {
    font-family: "proxima-nova", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
    line-height: 1em;
}

.nav a {
    text-decoration: none;
    color: #000;
    display: block;
    border-bottom: 1px solid #888;
    transition: .3s background-color;
}

.nav a:hover {
    //background-color: #005f5f;
}

.nav a.active {
    background-color: #aaa;
    color: #444;
    cursor: default;
}


/* Sub Menus */

.nav li li {
    font-size: 12px;
    list-style: none;
    text-align: left;
    display: inline-block;
    white-space: nowrap;
}


/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
    .nav li {
        width: 130px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 13px;
        display: inline-block;
        margin-right: -4px;
    }
    .nav a {
        border-bottom: none;
    }
    .nav > ul > li {
        text-align: center;
    }
    .nav > ul > li > a {
        padding-left: 0;
    }
    /* Sub Menus */
    .nav li ul {
        position: absolute;
        display: none;
        width: inherit;
    }
    .nav li:hover ul {
        display: block;
    }
    .nav li ul li {
        display: block;
    }
}
